body {
    font-family: 'Roboto', sans-serif;
    font: 1rem/1.5 var(--bs-font-sans-serif);
    
}

.typo{
    font-size: 5rem;
   
}
.typo1{
    font-size: 2rem;
}
.banner {
    background-size: cover;
}
.SemiBold {
    font-weight:600
}
.Bold {
    font-weight:700
}
